@import '~core/abstracts/abstracts';

.results {
  display: flex;
  flex-direction: column;

  &__row {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid $light-grey;
    border-width: 0px 0px 1px 0px;
  }
}
