@import '~core/abstracts/abstracts';

.header {
  background: $white;
  border: 1px solid $light-grey;
  border-width: 0px 0px 1px 0px;

  &__intro {
    font-size: 18px;
    color: $medium-grey;
    @include light();
  }

  &__title {
    color: $blue;
    margin: 0;
  }

  &__info {
    font-size: 18px;
    color: $medium-grey;
    @include light();
  }
}

.-separator {
  border: 1px solid $light-grey;
  border-width: 0px 1px 0px 0px;
  width: 1px;
}

.-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
